<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<title>Stock ticker milestone</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
	<h2>There was an error.</h2>
	<h4>Please make sure the ticker you used is valid.</h4>
	</body>
</html>
